
.EnTete{
    text-align: center;
}

img{
     box-shadow:10px 10px 10px 0 rgba(0,0,0,0.5);
     margin-bottom: 25px;
     margin-top: 25px;
     
}
#Discographie img{
    padding: 80px;
}
#corp ol{
   color:#e74c3c
}

header{
   background: linear-gradient(135deg, #191919, #b5bdb9, #191919);
}

#Discographie{
    background: linear-gradient(135deg, #191919, #b5bdb9, #191919);
}

#Discographie h2{
    font-family: 'Courier New', Courier, monospace;
    border-top:3px solid #141618 ;
    border-bottom:3px solid #141618 ;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin:0px;
}


.EnTete h1{
    font-family: 'Courier New', Courier, monospace;
    border-top:3px solid #141618 ;
    border-bottom:3px solid #141618 ;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.EnTete h2{
    font-family: 'Courier New', Courier, monospace;
}

.Corp {
    display: flex;
    background-color: #1a1a1a; 
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    }

    ol {
    background: #252525;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    max-width: 500px;
    width: 100%;
    column-count: 2;
    column-gap: 40px;
    margin: 0 auto;
    }

   .Corp h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #e74c3c; 
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    }

    li {
    margin-bottom: 8px;
    padding-left: 10px;
    font-size: 1.1rem;
    color: #ccc;
}

li:hover {
    color: #e74c3c;
    cursor: default;
}

